<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bingchenghu.stellarmaterial">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="摄影调色盘"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FruitActivity"
            android:label="@string/title_activity_fruit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StellarActivity"
            android:label="Wifi 控制测试" />
        <activity
            android:name=".DeviceActivity"
            android:label="小灯泡测试" />
        <activity
            android:name=".WifiConnectActivity"
            android:label="连接灯泡入网" />
        <activity
            android:name=".IntroActivity"
            android:label="APP项目介绍" />
        <activity android:name=".OrderTestActivity" />
        <activity
            android:name=".BookActivity"
            android:label="@string/title_activity_book" />
        <activity android:name=".ColorPickerActivity" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".ColorDiskActivity" />
        <activity android:name=".LitePalActivity" />
        <activity android:name=".SQLiteDataActivity"></activity>
    </application>

</manifest>